DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=
DB_NAME=backend_database
PORT=8080
JWT_SECRET=
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC=240
JWT_REFRESH_SECRET=
REFRESH_TOKEN_VALIDITY_DURATION_IN_SEC=604800

ENGINE_HOST=http://localhost:3200/
LANDING_PAGE=http://localhost:3000/
LANDING_MP_SUCCESS_PATH=success
LANDING_MP_PENDING_PATH=pending
LANDING_MP_FAILURE_PATH=failure

MP_WEBHOOK_SECRET=

ADMIN_MAIL=admin@admin.com
ADMIN_PSWD=admin

ITSELF=

NODE_ENV=development