PROD=false
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=
DB_NAME=backend_database
PORT=3000

JWT_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC=240
REFRESH_TOKEN_VALIDITY_DURATION_IN_SEC=604800

ENGINE_HOST=http://localhost:3200

ADMIN_MAIL=admin@admin.com
ADMIN_PSWD=admin

LANDING_URL=http://localhost:5173
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_USE_SANDBOX_LINK=false
MERCADO_PAGO_WEBHOOK_URL=https://tu-backend.azurewebsites.net/payment/webhook

SUBSCRIPTION_PLAN_ID=basic
SUBSCRIPTION_PLAN_NAME=Basic
SUBSCRIPTION_PRICE_PEN=5
