DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=
DB_NAME=backend_database
PORT=3000
JWT_SECRET=
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC=240
JWT_REFRESH_SECRET=
REFRESH_TOKEN_VALIDITY_DURATION_IN_SEC=604800

ENGINE_HOST=http://localhost:3200/